{% extends "rest_framework/base.html" %}
{% load static %}

{% load restapitags %}

{% block title %} Pdu Rest API {% endblock %}

{% block branding %}
	<span>
		<a href="https://powerdevices.net" rel="nofollow" class="navbar-brand">Power Devices</a>
	</span>
	    <div>
	      	<ul class="nav navbar-nav">
		       	<li class="active"><a href="/pdu/logout" >Log out</a></li>
	        	<li><a href="/pdu/restapi/schema" >Help</a></li>
	        	{% if user.is_authenticated %}
	      		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rest<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          {% if user.is_superuser %}
		            <li><a href="/pdu/restapi/users/">Users List</a></li>
		            <li><a href="/pdu/restapi/outlet/">Outlets List</a></li>
		           	<li class="dropdown-submenu">
		            	<a  href="#" style="white-space: inherit ! important;">User Info<span class ="glyphicon glyphicon-menu-right pull-right"/></a>
		            	{% userslist %}
					</li>
					<li class="dropdown-submenu">
		            	<a href="#" style="white-space: inherit ! important;">Outlet Info<span class="glyphicon glyphicon-menu-right pull-right"/></a>
		            	{% outletslist %}
					</li>
		           {% else %}
		            <li><a href="/pdu/restapi/users/{{ user.username }}/">User Features</a></li>
		           {% endif %}
		            <li class="divider"></li>
		            <li><a href="/pdu/restapi/gettoken/">Get Token</a></li>
		            <li><a href="/pdu/restapi/remtoken/">Delete Token</a></li>
          		</ul>
        	</li>
        	{% endif %}
	       </ul>
        </div>
{% endblock %}
{% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}
{% block bootstrap_navbar_variant %}
	navbar navbar-default navbar-fixed-top navbar-custom
{% endblock %}

